In [16]:
import pandas as pd
import numpy as np
from IPython.display import display

In [17]:
basis = [
    'a', 
    'b',
    'c',
    'd',
    'ab',
    'ac',
    'bc',
    'bd',
    'cd',
    'bcd',
]
n = len(basis)
D = np.zeros((n, n))

In [18]:
def print_D():
    df = pd.DataFrame(D, columns=basis, index=basis)
    display(df)

In [19]:
for k, v in enumerate(basis): 
    if len(v) == 1:
        continue
    for i in range(len(v)):
        u = v[:i] + v[i+1:]
        sgn = 1 if i % 2 == 0 else -1
        j = basis.index(u)
        D[j, k] = sgn

print_D()

       a    b    c    d   ab   ac   bc   bd   cd  bcd
a    0.0  0.0  0.0  0.0 -1.0 -1.0  0.0  0.0  0.0  0.0
b    0.0  0.0  0.0  0.0  1.0  0.0 -1.0 -1.0  0.0  0.0
c    0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0 -1.0  0.0
d    0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0
ab   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
ac   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
bc   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
bd   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 -1.0
cd   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
bcd  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [20]:
def low(q):
    for p in range(n - 1, -1, -1):
        if D[p, q] != 0:
            return p
    return -1

def print_low():
    for q in range(n):
        p = low(q)
        if p != -1: 
            print(basis[q], 'has low', basis[p])

print_low()

ab has low b
ac has low c
bc has low c
bd has low d
cd has low d
bcd has low cd

In [21]:
def look_for(q, low_q):
    if low_q == -1:
        return None
    for i in range(q):
        if low(i) == low_q:
            return i
    return None

In [22]:
print_D()
for q in range(n):
    while True:
        p = low(q)
        r = look_for(q, p)
        if r is None:
            break

        print(f'column {basis[q]} will be mutated because it shares low {basis[p]} with {basis[r]}')
        D[:, q] += (-D[p, q] / D[p, r]) * D[:, r]
        print_D()

       a    b    c    d   ab   ac   bc   bd   cd  bcd
a    0.0  0.0  0.0  0.0 -1.0 -1.0  0.0  0.0  0.0  0.0
b    0.0  0.0  0.0  0.0  1.0  0.0 -1.0 -1.0  0.0  0.0
c    0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0 -1.0  0.0
d    0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0
ab   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
ac   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
bc   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
bd   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 -1.0
cd   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
bcd  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

column bc will be mutated because it shares low c with ac

       a    b    c    d   ab   ac   bc   bd   cd  bcd
a    0.0  0.0  0.0  0.0 -1.0 -1.0  1.0  0.0  0.0  0.0
b    0.0  0.0  0.0  0.0  1.0  0.0 -1.0 -1.0  0.0  0.0
c    0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0 -1.0  0.0
d    0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0
ab   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
ac   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
bc   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
bd   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 -1.0
cd   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
bcd  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

column bc will be mutated because it shares low b with ab

       a    b    c    d   ab   ac   bc   bd   cd  bcd
a    0.0  0.0  0.0  0.0 -1.0 -1.0  0.0  0.0  0.0  0.0
b    0.0  0.0  0.0  0.0  1.0  0.0  0.0 -1.0  0.0  0.0
c    0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0 -1.0  0.0
d    0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0
ab   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
ac   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
bc   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
bd   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 -1.0
cd   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
bcd  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

column cd will be mutated because it shares low d with bd

       a    b    c    d   ab   ac   bc   bd   cd  bcd
a    0.0  0.0  0.0  0.0 -1.0 -1.0  0.0  0.0  0.0  0.0
b    0.0  0.0  0.0  0.0  1.0  0.0  0.0 -1.0  1.0  0.0
c    0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0 -1.0  0.0
d    0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
ab   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
ac   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
bc   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
bd   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 -1.0
cd   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
bcd  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

column cd will be mutated because it shares low c with ac

       a    b    c    d   ab   ac   bc   bd   cd  bcd
a    0.0  0.0  0.0  0.0 -1.0 -1.0  0.0  0.0 -1.0  0.0
b    0.0  0.0  0.0  0.0  1.0  0.0  0.0 -1.0  1.0  0.0
c    0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
d    0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
ab   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
ac   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
bc   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
bd   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 -1.0
cd   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
bcd  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

column cd will be mutated because it shares low b with ab

       a    b    c    d   ab   ac   bc   bd   cd  bcd
a    0.0  0.0  0.0  0.0 -1.0 -1.0  0.0  0.0  0.0  0.0
b    0.0  0.0  0.0  0.0  1.0  0.0  0.0 -1.0  0.0  0.0
c    0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
d    0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
ab   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
ac   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
bc   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
bd   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 -1.0
cd   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
bcd  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [23]:
print_D()

       a    b    c    d   ab   ac   bc   bd   cd  bcd
a    0.0  0.0  0.0  0.0 -1.0 -1.0  0.0  0.0  0.0  0.0
b    0.0  0.0  0.0  0.0  1.0  0.0  0.0 -1.0  0.0  0.0
c    0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
d    0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
ab   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
ac   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
bc   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
bd   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0 -1.0
cd   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
bcd  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [24]:
print_low()

ab has low b
ac has low c
bd has low d
bcd has low cd

In [25]:
for q in range(n):

    if np.all(D[:, q] == 0):
        # this means q forms a cycle, because q can be represented 
        # by a linear combination of 
        # other columns and thus column q is eliminated in D'
        flag = None
        for r in range(n):
            if q == low(r):
                # in this case q is a boundary of r
                flag = r
                break
        
        if flag is None:
            print(f'a cycle class born with {basis[q]}')

    else:
        # q is not a cycle, but it can kill a cycle, i.e. the cycle that 
        # becomes its boundary -- there must be such a cycle, otherwise
        # q can't be there...
        p = low(q)
        print(f'a cycle class born with {basis[p]}, killed by {basis[q]}')

a cycle class born with a
a cycle class born with b, killed by ab
a cycle class born with c, killed by ac
a cycle class born with bc
a cycle class born with d, killed by bd
a cycle class born with cd, killed by bcd

In [26]:
# preprocess the 'inverse function' of low
# some row p may not be the low of any column, in that case row_inv.get(p) is None
low_inv = {}
for q in range(n):
    low_inv[low(q)] = q

for q in range(n):
    if np.all(D[:, q] == 0):
        # this means q forms a cycle, because q can be represented 
        # by a linear combination of 
        # other columns and thus column q is eliminated in D'
        r = low_inv.get(q)
        if r is None:
            print(f'a cycle class born with {basis[q]}')
        else:
            print(f'a cycle class born with {basis[q]}, killed by {basis[r]}')

a cycle class born with a
a cycle class born with b, killed by ab
a cycle class born with c, killed by ac
a cycle class born with d, killed by bd
a cycle class born with bc
a cycle class born with cd, killed by bcd